/log/
*.dsv
*.ps1
*.sh
*.zsh
*.csv
*.log
*.tmp
.vscode/
*.log
*.png
*.svg
*.jpg
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/

/airsim_occt_tracking_outputs/
/airsim_occt_tracking_outputs_*/
*.zip
/readme.txt